@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    // ViewBag.Title = "Home Page";
}

<div aurelia-app>
    <div class="splash">
        <div class="message">ASP.NET 5 and Aurelia</div>
        <i class="fa fa-spinner fa-spin"></i>
    </div>
</div>

<script src="~/jspm_packages/system.js"></script>
<script src="~/config.js"></script>
<script>System.import('aurelia-bootstrapper');</script>